body {
  background-color: #141414;
  color: white;
  font-family: 'Noto Sans';
  text-align: center;
}

input {
  background-color: #212121;
  color: white;
  border: 1px solid #303030
}

form {
  font-family: 'Noto Sans';
  width: 400px;
}

#main {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

button {
  background-color: #212121;
  color: white;
  border: 1px solid #303030
}
